body {
  background-color: #301B1A;
  margin: 0 auto;
}
#navbar {
  background-color: #533261;
  height: 60px;
  color: white;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
div {
  padding: 10px;
}
.left {
  float: left;
  display: flex;
}
.right {
  float: right;
  margin-top: 10px;
}
nav {
  margin-right: 20px;
}
.left img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  font-size: 25px;
}
#box1 {
  background-color: yellowgreen;
  padding: 10px;
  height: 70%;
  width: 31.5%;
  margin-top: 35px;
  margin-left: 10px;
  float: left;
  overflow: auto;
}
#box2 {
  background-color: yellowgreen;
  padding: 10px;
  height: 70%;
  width: 31.5%;
  margin-top: 35px;
  margin-right: 10px;
  float: right;
  overflow: auto;
}
#top-container {
  background-color: #D2D9E9;
  font-family: sans-serif;
  height: 350px;
  margin: 15px;
}
#bottom-container {
  background-color: #B74242;
  height: 35vh;
  margin: 15px;
}
#bottom-inside {
  background-color: #DADADA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  margin: 10px;
  border: 3px solid #4A8E2A;
}
p {
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  #navbar {
    width: 100%;
  }
  #top-container {
    margin-bottom: 10px;
    overflow: scroll;
  }
  #bottom-container {
    margin-top: 10px;
    height: calc(100vh - 410px);
    overflow: scroll;
  }
  .left {
    float: none;
  }
  .right {
    float: none;
  }
  .left img {
    height: 40px;
  }
  .left h2 {
    display: inline;
    color: aliceblue;
  }
  a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
  }
  #box1 {
    width: 80vw;
    float: none;
    /* padding: 10px; */
    margin-left: calc((20vw/2) - 35px);
  }
  #box2 {
    width: 80vw;
    float: none;
    /* padding: 10px; */
    margin-left: calc((20vw/2) - 35px);
  }
  .content-1 {
    padding: 10px;
  }
  .content-1 p {
    font-size: 18px;
  }
  .content-2 {
    padding: 10px;
  }
  .content-2 p {
    font-size: 18px;
  }
}
@media screen and (max-width: 510px){
  .right {
    display: none;
  }
}